# Python/Django
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3

# Node.js/React/Expo
node_modules/
build/
dist/
.expo/
*.log

# OS/IDE
.DS_Store
*.swp
*.swo
.idea/
.vscode/

# Android
*.apk
*.aab
android/app/build/

# Misc
.env
.env.local
.env.*
